/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 0px 0;
}

.tip{
	color:blue;
}

.tipDetail{
	color:#777;
}

.heightScroll{
	max-height:200px;
	overflow-y:auto;
	padding:10px;
}

.heightScrollAbout{
	max-height:250px;
	overflow-y:auto;
	padding:10px;
}
